body {
    background-color: black;
    color: lightgray;
}

#menu-button {
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
}

nav li {
    list-style-type: none;
    border: 2px solid black;
    width: 100%;
    height: 14vh;
    text-align: center;
    background-color: white;
    color: black;
    border: gray 5px solid;
}

nav li:hover {
    background-color: gray;
    color: white;
}

nav {
    display: inline;
    width: 25vw;
    height: 42vh;
    position: fixed;
    left: 0;
    z-index: 1000;
}

/* mobile */
@media (max-width: 768px) {
    .menu-button {
        font-size: 1.6rem;
        font-weight: bold;
        color: white;
    }

    nav {
        display: block;
        width: 60%;
        height: 30%;
        position: absolute;
        top: 1fr;
        left: 1fr;
    }

    nav li {
        list-style-type: none;
        border: 2px solid black;
        width: 80%;
        height: fit-content;
        text-align: center;
        background-color: white;
        color: black;
        border: gray 5px solid;
        display: block;
        padding: 1px 1px;
        font-size: 12px;

    }

    nav li:hover {
        background-color: gray;
        color: white;
    }

    #img-cont {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6rem 1rem 4rem 1rem;
    }

    #profilePic {
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 0.5rem;
        object-fit: cover;
        display: block;
        justify-content: center;
        align-items: center;
        width: clamp(480px, 100%, 420px);
        height: auto;
        margin: 0 auto;
        max-width: 100%;
    }

    #modal {
        display: none;
        align-items: center;
        justify-content: center;
        width: 70%;
        height: 50%;
        position: static;
        overflow-x: scroll;
        margin: 6rem 1fr 4rem 1rem;

    }


}

h1 {
    align-items: center;
    text-align: center;
}

/* Calender */
main {
    font-family: Arial, Helvetica, sans-serif;
    /* display: grid; */
    place-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
}

#profilePic {
    object-fit: scale-down;
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(5rem, 50%, 25rem);
    height: clamp(5rem, 15rem, 25rem);
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.calender {
    background-color: 111111;
    border-radius: 10px;
    box-shadow: 0 0 30px #222222;
    overflow: hidden;
    width: 300px;
    color: white;
    padding: 20px;
    display: relative;
    align-items: center;
    justify-content: center;
    /* transform: translate(-50%, -50%); */
    height: 40%;

    background-color: white;
    padding: 20px;
    border: 2px solid black;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
    z-index: 1000;
}

.calenderDiv {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    right: 0;
    bottom: 0;
    height: 40%;

    background-color: white;
    padding: 20px;
    border: 2px solid black;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    max-width: 600px;
    z-index: 1000;
}

/* modal window */
.modal {
    position: fixed;
    bottom: 5rem;
    width: 40%;
    height: 80%;
    background-color: whitesmoke;
    border: 2px solid black;
    color: black;
    display: static;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

#publicSchedule {
    position: fixed;
    top: 10vh;
    left: 50;
    bottom: 10vh;
    width: 50%;
    height: 80%;
    background: white;
    color: black;
    display: hidden;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    overflow-y: scroll;
}

#publicSchedule span {
    display: fixed;
    position: absolute;
    left: 95%;
    font-size: xx-large;
}

#closePublic {
    cursor: pointer;
    background-color: orangered;
}

#publicSchedule h1 {
    color: blue;
    align-self: flex-start;
}

#publicSchedule li {
    width: 50%;
    height: 15vh;
    position: relative;
    top: 10vh;
    left: 0%;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    border: solid 2px black;
    margin: 0;
    padding: 5px 5px;
}

#scheduleBtn {
    width: 10vw;
    height: 5vh;
    position: relative;
    left: 4vw;
    display: block;
    margin: 5px 5px 5px 5px;
    background-color: black;
    color: white;
}

#scheduleBtn:hover {
    cursor: pointer;
    background-color: orangered;
    color: white;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: whitesmoke;
    color: black;
    padding: 20px 30px;
    border-radius: 8px;
    min-width: 300px;
    position: absolute;
}

#closeLogin {
    position: absolute;
    top: 1px;
    left: 1px;
    font-size: 24px;
    cursor: pointer;
    border: black solid 2px;
    border-radius: 100%;
    width: 10%;
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: center;
}

#closeLogin:hover {
    background-color: orangered;
    color: white;
}

#login {
    display: block;
    /* width: 5%; */
    width: clamp(5rem, 10%, 15rem);
    height: 5%;
    font-size: xx-small;
    background-color: white;
    color: black;
    border: black solid 2px;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    top: 2%;
    right: 2%;
}

#login:hover {
    background-color: orangered;
    color: white;
}

#loginModal {
    display: none;
    position: absolute;
    top: 10%;
    width: clamp(10rem, 40%, 25rem);
    height: clamp(15rem, 52%, 50rem);
    background-color: lightgreen;
    padding: 2px;
    z-index: 1000;
}

#loginModal .modal-content {
    width: 40%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: gray;
    color: black;
    position: relative;
    display: inline-block;
    right: 90%;
    top: 10%;
}

/* CALENDAR */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.btn {
    cursor: pointer;
}

#month-year {
    font-weight: bold;
    font-size: 20px;
    display: flex;
}

.weekdays,
.days {
    display: flex;
    flex-wrap: wrap;
}

.days {
    height: 240px;
}

.weekdays div,
.days div {
    width: 14.28%;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 14px;
}

.days div {
    cursor: pointer;
    transition: background-color 0.3s;
}

.days div:hover {
    background-color: white;
    color: orangered;
}

.days .today {
    background-color: orangered;
    color: white;
}

.days .fade {
    color: #555;
}

#bookBtn {
    display: block;
    width: 150px;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#bookBtn:hover {
    background-color: orangered;
    color: white;
}

#menu-button {
    position: relative;
    display: block;
    width: 5vw;
    top: 20px;
    left: 20px;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1001;
    font-size: larger;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    padding: 20px;
    border-radius: 10px;
}

#close-modal {}

#close-modal:hover {
    background-color: orangered;
    color: white;
    cursor: pointer;
}

label {
    font-size: 14px;
}

input {
    padding: 8px;
    margin: 5px 0;
    width: 80%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#submitBtn {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

#editPhotoBtn {
    background-color: black;
    color: pink;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    width: 10%;
    height: 10%;
    position: absolute;
    left: 70%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 20%;
}

#closeEditPhoto {
    cursor: pointer;
}

.message {
    margin: 15px 0;
    text-align: center;
    font-weight: bold;
    background-color: white;
    padding: 10px;
    border: 2px solid black;
    border-radius: 5px;
}

.success {
    color: green;
}

.error {
    color: red;
}

.hidden {
    display: none;
}

/* ADMIN FEATURES */
#editPhotoBtn:hover {
    background-color: white;
    color: black;
    border: 2px solid black;
}

#addAvailability {
    display: none;
    position: absolute;
    top: 2vh;
    width: 150px;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}

#addAvailability:hover {
    background-color: orangered;
    color: white;
    border: 2px solid black;
}

#availabilityModal ul {
    height: 100%;
    display: grid;
    position: sticky;
    top: 0;
    right: 15rem;
    background-color: cyan;
    border: 2px solid black;
    color: black;
    padding: 2rem 5rem 5rem 5rem;
    overflow-y: scroll;
}

#close-availability {
    position: absolute;
    top: 0rem;
    right: 0rem;
    font-size: xx-large;
    border: black 2px solid;
    border-radius: 50%;
    width: 10%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-availability:hover {
    background-color: orangered;
    color: white;
    cursor: pointer;
}

#save {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: absolute;
    top: .5rem;
    left: 1rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr 0fr 1fr 1fr 1fr 1fr;
    align-items: center;
    position: relative;
}

.field {
    display: inline-block;
}

#availabilityModal input {
    border: 1px solid #ccc;
    border-radius: 4px;
}

a {
    color: black;
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;

}

#save {
    display: none;
}