header {
    background-color: black;
    text-align: center;
    color: whitesmoke;
    height: 20vh;
    align-content: center;
}

body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}